@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.bg {
    background: url("./bg.jpg") no-repeat center center/cover;
    position: absolute;
    top: -40px;
    left: -40px;
    width: calc(100vw + 80px);
    height: calc(100vh + 80px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: white;
}